* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: lightpink;
    height: 100vh;
    flex-flow: column;
    font-size: 16px;
}

header{
    background-color: lightsalmon;
    height: 4rem;
}

.container{
    display: flex;
    height: inherit;
}

.content{
    outline:1px solid  lightpink;
    flex-grow: 1;
}

.aside{
    background-color: lightcoral;
    flex-basis: 25%;
}

footer{
    background-color: palevioletred;    
    height: 6rem;
    margin-top: auto;
}