* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-flow: column;
    font-size: 16px;
}

header{
    background-color: palevioletred;
    height: 4rem;
}

.menu{
    display: flex;
}

.menu__item{
    list-style: none;
    flex-grow:1; 
    outline:1px solid  lightpink;
    line-height: 4rem;
    text-align: center;
    transition: flex .5s;
}
.menu__item:hover{
    background-color: lightpink;    
    cursor: pointer;
    /*Adding animation */
    flex-grow:2;
}

.container{
    display: flex;
    height: inherit;
}

.content{
    outline:1px solid  lightpink;
    flex-grow: 1;
}

.aside{
    background-color: lightcoral;
    flex-basis: 25%;
    display: flex;    
    flex-flow: column;
}
.aside__child{
    flex-grow:1;
    outline:1px solid  lightpink;
}
.aside__child--center{
    flex-grow:0.5;
    background-color: white;
    border:2px solid  lightcoral;
}

footer{
    background-color: palevioletred;    
    height: 6rem;
    margin-top: auto;
}